<!DOCTYPE html>
<html>
<head>
  <title>Remove ASIN</title>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles_remove_asin.css">
</head>
<body>
  <div class = "container-fluid">
    <nav>
      <ul>
        <li><a href="http://localhost:4567/">Home</a></li>
        <li><a href="http://localhost:4567/addasin">Add ASIN</a></li>
        <li class="active"><a href="http://localhost:4567/deleteasin">Remove ASIN</a></li>
      </ul>
    </nav>
    <div class= "container">
      <h1>Remove an ASIN</h1>
      
      <form>
        
      </form>
    </div>
  </div>
</body>
</html>