     .container-fluid {
      padding: 0px;
    }
    nav {
      display: block;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0;
      width: 100%;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
      overflow: hidden;
    }
    li {
      float: left;
      margin: auto;
    }
    li a {
      display: block;
      padding: 10px;
      color: black;
      text-decoration: none;
    }
    li a:hover {
      background-color: grey;
      text-decoration: none;
      color: black;
    }
    .active {
      background-color: lightblue;
    }
    .container {
      margin-top: 100px;
    }
    h1 {
      text-align: center;
    }